* {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;
                background-image: url("https://github.com/mshelcole/prog109-winter2022/blob/main/module04/images/pexels-pixabay-70741.jpg");
              }

            header{ text-align:center; 
            font-family: 'CrosterianRegular';}


			main {
				overflow: auto;}
			nav, section, footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}

              .column1 {				
              background-color: pink;
              }
			
               .column2 {			
              background-color: red;
              }
                
              .column3 {
				margin-right: 0%;
              background-color: salmon;
              }

			li {
				display: inline;
				padding: 0.5em;}

	        nav, footer {
				background-color: #ff66b3;
				padding: 0.5em 0;

                }
			
          section, .article {
				height: 10em;
				margin-bottom: 1em;
				}
            section {
             background-color: lightgreen;
             background-image:  url("https://github.com/mshelcole/prog109-winter2022/blob/main/module04/images/poppy-flowers-cropped.jpg");
             background-position: right;
             background-repeat:no-repeat;}
		</style>
