
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-size: cover;
	background-image: url("images/photo-pp-2.jpg");
}


/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;	
  background-color: teal;
  font-family: "Montserrat", sans-serif;	
}

.navigation {
  display: flex;
  justify-content: space-between;
  width:30;	
}




