*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-size: cover;
	background-image: url("images/photo-pp-2.jpg");
}

.body-text{
   display: flex;
   font-family: "Montserrat", sans-serif;
   align-items: center;
   justify-content: center;
   margin-top:250px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;	
  background-color: teal;
  font-family: "Montserrat", sans-serif;	
}

.navigation {
  display: flex;
  justify-content: space-between;
  width:30;	
}

.navigation li{

  list-style: none;

}

.heading{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size:20px;
  
}

.navigation {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size:14px;
  padding:14px;
  
}

.navigation li a.hover:not(.active){
  backgound-color: lightseagreen;
  
}

.navigation li a.active{
  backgound-color: #4caf50;
  
}
